/* === HOME === */
.PageSection{
    min-height: 100vh;
}

.loading{
    text-align: center;
    font-size: 3rem;
    padding: 4rem;
}
.shop{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.shop-item{
    padding: 2rem;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shop-item img{
    height: 15rem;
    object-fit: scale-down;
}
.title{
    height: 5rem;
    margin: 1rem;
}

.price{
    margin: 1rem 2rem;
    text-align: end;
}